
#preview_images canvas {
  top: 0;
  float: left;
  max-width: 100px;
  max-height: 100px;

  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #ffffff;

  margin-left: -30px;
}


.custom-control, .input-group{
  -webkit-app-region: no-drag;
}